﻿{% extends 'base.html' %}
{% block menu %}
					<div class="navbar fright">
					<nav id="main_menu">
							<div class="menu_wrap">
								<ul class="nav sf-menu">
                                    <li class="last"><a href="{{ url_for('index') }}">Home</a></li>
                                    {% for page in menu_pages %}
									<li class="last"><a href="/page/{{ page.url }}">{{ page.title }}</a></li>
                                    {% endfor %}
								</ul>
							</div>
						</nav>
				    </div>
                    {% endblock %}
{% block content %}
		<!--page_container-->
		<div class="page_container">
			<div class="container">
				<!--slider-->
				<div id="main_slider">
					<div class="camera_wrap" id="camera_wrap_1">
                        {% for item in slider %}
						<div data-src="images/slider/slide1.jpg">
							<div class="camera_caption fadeIn">
								<div class="slide_descr"></div>
							</div>
                        {% endfor %}
						</div>
						<div data-src="images/slider/slide2.jpg">
							<div class="camera_caption fadeIn">
								<div class="slide_descr">Expertise You Can Count On<br/>Results You Can Measure</div>
							</div>
						</div>
						<div data-src="images/slider/slide3.jpg">
							<div class="camera_caption2 fadeIn">
								<div class="slide_descr">Your Lead-Generation Partner<br/>With a Vision</div>
							</div>
						</div>
					</div><!-- #camera_wrap_1 -->
					<div class="clear"></div>	
				</div>
				<!--//slider-->
			</div>
			
			<!--planning-->
			<div class="wrap planning">
				<div class="fist_line_planning">
                    {% if slogan %}
                    {% for item in slogan %}
					<a href="javascript:void(0);">
						<span class="color1 service_block">
							<img class="icon_block" src="images/icon1.png" />
                            <span class="link_title">{{ item.title }}</span>
							<span class="service_txt">{{ item.content }}</span>
						</span>
					</a>
                    {% endfor %}
                    {% else %}
                        <a href="javascript:void(0);">
						<span class="color1 service_block">
							<img class="icon_block" src="images/icon1.png" />
                            <span class="link_title">No item,add this, NOW!</span>
						</span>
					</a>
                    {% endif %}
					<div class="clear"></div>
				</div>
			</div>
			<!--//planning-->
			
			<!--Recent Gallery-->
			<div class="wrap recent_gal_block">
				<div class="container">
					<h2 class="title">Featured Campaigns</h2>
					<ul class="row">
						<li class="span4">
							<div class="proj_block">
								<img src="images/featured_works/1.jpg" alt="" />
								<a href="images/featured_works/1.jpg" rel="prettyPhoto[portfolio1]"><span class="portfolio_zoom1"></span></a>
							</div>
						</li>
						<li class="span4">
							<div class="proj_block">
								<img src="images/featured_works/2.jpg" alt="" />
								<a href="images/featured_works/2.jpg" rel="prettyPhoto[portfolio1]"><span class="portfolio_zoom1"></span></a>
							</div>
						</li>
						<li class="span4">
							<div class="proj_block">
								<img src="images/featured_works/3.jpg" alt="" />
								<a href="images/featured_works/3.jpg" rel="prettyPhoto[portfolio1]"><span class="portfolio_zoom1"></span></a>
							</div>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
			<!--//Recent Gallery-->
			
			<!--Welcome-->
			<div class="wrap welcome_bg">
				<div class="container">
					<div class="welcome_block">
						<p class="fleft">Our Team of Specialists Drive Business Results</p>
						<a class="fright" href="javascript:void(0);">Learn More</a>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<!--//Welcome-->
			
			<!--Latest news-->
			<div class="wrap">
				<h2 class="title">Success Stories</h2>
				<ul class="row">
					<li class="span3 post_prev">
						<a class="post_img" href="javascript:void(0);"><img src="images/blog/post_prev1.jpg" /></a>
						<a class="title" href="javascript:void(0);">Food for child</a>
						<p class="post_prev_date">24 August, 2020</p>
						20% improvement in outreach campaigns in Q1/2013
					</li>
					<li class="span3 post_prev">
						<a class="post_img" href="javascript:void(0);"><img src="images/blog/post_prev2.jpg" /></a>
						<a class="title" href="javascript:void(0);">Child`s safety</a>
						<p class="post_prev_date">24 August, 2020</p>
						20% more induction + 25% improvement in new registrations 
					</li>
					<li class="span3 post_prev">
						<a class="post_img" href="javascript:void(0);"><img src="images/blog/post_prev3.jpg" /></a>
						<a class="title" href="javascript:void(0);">Sport & lifestyle</a>
						<p class="post_prev_date">24 August, 2020</p>
						12000 new subscribers and 28000 new facebook fans in 6 months
					</li>
					<li class="span3 post_prev">
						<a class="post_img" href="javascript:void(0);"><img src="images/blog/post_prev4.jpg" /></a>
						<a class="title" href="javascript:void(0);">psychologic tips </a>
						<p class="post_prev_date">24 August, 2020</p>
						Successful launch of digital magazine
					</li>
					<div class="clear"></div>
				</ul>
			</div>
			<!--Latest news-->
		</div>		
		
		<!--//page_container-->
{% endblock %}

