{% extends 'base_pages.html' %}
{% block menu %}
					<div class="navbar fright">
					<nav id="main_menu">
							<div class="menu_wrap">
								<ul class="nav sf-menu">
                                    <li class="last"><a href="{{ url_for('index') }}">Home</a></li>
                                    {% for page in menu_pages %}
									<li class="last"><a href="/page/{{ page.url }}">{{ page.title }}</a></li>
                                    {% endfor %}
								</ul>
							</div>
						</nav>
				    </div>
                    {% endblock %}
{% block content %}
    <!--page_container-->
    <div class="page_container">
    	<div class="wrap">
            {% for page in pages %}
        	<div class="breadcrumb">
				<div>
					<a href="/">Home</a><span>/</span>{{ page.url }}
				</div>
			</div>
			<div class="container">
             <section>
              <div class="page-header">
                <h2 class="title">{{ page.title }}</h2>
				<h4 class="title">{{ page.second_title }}</h4>
			  </div>
            
                {{ page.content }}
</section>
 </div>
        </div>
    </div>
{% endfor %}
{% endblock %}