<!DOCTYPE html>
<html>
<head>
    <title></title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
</head>
<body>
[<a href ="#">Главная</a>]
[<a href ="#">Архив</a>]
[<a href ="#">PDA</a>]
[<a href ="#">API</a>]
{% block content %}{% endblock %}
</body>
</html>