{% extends 'base.html' %}
{% block title %}Flask CMS - Upload{% endblock %}
{% block content %}
<script type="text/javascript">
            /**
            * Функция Скрывает/Показывает блок
            **/
            function showHide(element_id) {
                //Если элемент с id-шником element_id существует
                if (document.getElementById(element_id)) {
                    //Записываем ссылку на элемент в переменную obj
                    var obj = document.getElementById(element_id);
                    //Если css-свойство display не block, то:
                    if (obj.style.display != "block") {
                        obj.style.display = "block"; //Показываем элемент
                    }
                    else obj.style.display = "none"; //Скрываем элемент
                }
                //Если элемент с id-шником element_id не найден, то выводим сообщение
                else alert("Элемент с id: " + element_id + " не найден!");
            }
        </script>
<style>
      ul {
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul li {
          list-style:none;
          margin-bottom:25px;
      }
      ul li img {
          cursor: pointer;
      }
      .modal-body {
          padding:5px !important;
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
    .controls{
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;
    }
    .next {
        float:right;
        text-align:right;
    }
      /*override modal for demo only*/
      .modal-dialog {
          max-width:500px;
          padding-top: 90px;
      }
      @media screen and (min-width: 768px){
          .modal-dialog {
              width:500px;
              padding-top: 90px;
          }
      }
      @media screen and (max-width:1500px){
          #ads {
              display:none;
          }
      }
  </style>
    <div class="container">
        <div class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px;">
            <h3 style="font-family:arial; font-weight:bold; font-size:30px;">
                <a style="text-decoration:none; color:#666;" href="http://fearlessflyer.com/create-a-responsive-photo-gallery-with-bootstrap">Братство</a>
            </h3>
            <p> <strong><a style="color:red" href="javascript:void(0)" onclick="showHide('post-form')">Создать&nbsp</a></strong>тред</p>

        </div>

<div class = form-center id="post-form">
<form class="form-horizontal" action="/" method="POST">
    {{ form.csrf_token }}
<fieldset>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="thread_topic">Тема</label>
  <div class="controls">
    {{ form.title(class="input-xlarge", placeholder="имя темы") }}

  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="thread_email">Email</label>
  <div class="controls">
    {{ form.email(class="input-xlarge", placeholder="email для связи с вами") }}

  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="thread_post">Пост</label>
  <div class="controls">
    {{ form.post(class="input-xlarge", placeholder="пост") }}
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="thread_media">Media</label>
  <div class="controls">
    {{ form.media(class="input-xlarge", placeholder="http://youtube.com/*") }}
    <p class="help-block">Youtube</p>
  </div>
</div>

<!-- File Button -->
<div class="control-group">
  <label class="control-label" for="thread_file">Файл</label>
  <div class="controls">
    {{ form.image(class="input-xlarge") }}
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="thread_create"></label>
  <div class="controls">
    <button id="thread_create" name="thread_create" class="btn btn-success" type="submit">Создать</button>
  </div>
</div>

</fieldset>
</form>
    </div>
    <hr>
</div>


{% for thread in threads %}
<div class = "thread" id = "{{ thread.id }}">
    <div class = "thread-data">
    <p><span class = "title">
    {{ thread.title }}
    </span></p>
    <span class = "author">
        {{ thread.author }}
    </span>
    <span class = "data">
        {{ thread.pub_date }}
    </span>
    <span class = "id">
        <a href = #{{ thread.id }}>№{{ thread.id }}</a>
    </span>

    <a href="thread/{{ thread.id }}"><span class="glyphicon glyphicon-plus-sign"></span></a>
    <a href=#><span class="glyphicon glyphicon-envelope"></span></a>
    <a href=#><span class="glyphicon glyphicon-warning-sign"></span></a>
    <p><span class = "img-id">{{ thread.image.url }}</span></p>

    <p><img class ="img-rounded" src = "http://2ch.hk/b/thumb/1402921499186s.gif">

    <div class = "post" id="#15234235743-1">
    <div class = "well">
    <span class = "post">{{ thread.post }}</span>
    <p>{% for tag in thread.tags %}
        <span class="glyphicon glyphicon-tags"></span><a href="/tag/{{ tag }}">{{ tag }}</a>
            {% endfor %}
    </p>

    </div>
    </div>
    </div>
    </div>
    {% endfor %}
{% endblock %}